/include/ "system-conf.dtsi"
#include <dt-bindings/gpio/gpio.h>

/ {

    chosen {
        bootargs = "console=ttyPS0,115200 earlyprintk root=/dev/mmcblk0p2 rw rootwait uio_pdrv_genirq.of_id=generic-uio video=HDMI-A-1:1280x720M-24@60";
    };
    
    usb_phy0: usb-phy@0 {
        compatible = "usb-nop-xceiv";
        #phy-cells = <0>;
        drv-vbus;
    };
};

&amba_pl {

    xlnx_pl_disp {
        compatible = "xlnx,pl-disp";
        device-id = <0xaa01>;
        dmas = <&axi_vdma_0 0>;
        dma-names = "dma0";
        xlnx,bridge = <&v_tc_0>; 
        /*dglnt,edid-i2c = <&i2c1>;*/
        xlnx,edid = "disable";
        xlnx,vformat = "RG24";
        display = <&hdmi_conn>;  
        status = "okay";

        display-timings {
            native-mode = "mode_720p";
            mode_720p: mode_1280x720 {
                clock-frequency = <74250000>;
                hactive = <1280>;
                vactive = <720>;
                hfront-porch = <110>;
                hback-porch = <220>;
                hsync-len = <40>;
                vfront-porch = <5>;
                vback-porch = <20>;
                vsync-len = <5>;
                hsync-active = <0>;
                vsync-active = <0>;
                de-active = <1>;
                pixelclk-active = <0>;
            };
        };

        port@0 {
            reg = <0>;
            pl_disp_ep: endpoint {
                remote-endpoint = <&hdmi_in_ep>;
            };
        };
    };

    digilent_hdmi {
        compatible = "digilent,hdmi";
        clocks = <&axi_dynclk_1>;
        clock-names = "clk";
        /*digilent,edid-i2c = <&i2c0>;*/
        digilent,fmax = <150000>;
        digilent,hmax = <1920>;
        digilent,vmax = <1080>;
        digilent,hpref = <1280>;
        digilent,vpref = <720>;
        status = "okay";

        port@0 {
            reg = <0>;
            hdmi_in_ep: endpoint {
                remote-endpoint = <&pl_disp_ep>;
            };
        };

        port@1 {
            reg = <1>;
            hdmi_out_ep: endpoint {
                remote-endpoint = <&conn_in_ep>;
            };
        };
    };


    hdmi_conn: connector {
        compatible = "hdmi-connector";
        label = "hdmi";
        type = "a";

        port {
            conn_in_ep: endpoint {
                remote-endpoint = <&hdmi_out_ep>;
            };
        };
    };

    dynclk_test {
        compatible = "dyn,dynclk-test";
        clocks = <&axi_dynclk_1>;
        clock-names = "axi_dynclk";
        reg = <0x43c20000 0x1000>;
        status = "okay";
    };
};

&axi_vdma_0 {
    dma-ranges = <0x00000000 0x00000000 0x40000000>;
    device-id = <0xaa02>;
    status = "okay";
    xlnx,vsize = <720>;
    xlnx,hsize = <1280>;
    xlnx,stride = <5120>;
};

&axi_dynclk_1 {
    compatible = "dglnt,axi-dynclk";
    #clock-cells = <0>;
    xlnx,krefclkfreqhz = <100000000>;
    xlnx,kversionminor = <2>;
    xlnx,rable = <0>;
    xlnx,ip-name = "axi_dynclk";
    clocks = <&clkc 15>, <&clkc 15>;
    clock-names = "REF_CLK_I", "s_axi_lite_aclk";
    clock-output-names = "clk";
    status = "okay";
    xlnx,name = "axi_dynclk_1";
};

&v_tc_0 {
    compatible = "xlnx,bridge-v-tc-6.1";
    xlnx,pixels-per-clock = <1>;
    status = "okay";
};

&axi_gpio_hdmi {
    compatible = "generic-uio";
    status = "okay";
};

&usb0 {
    status = "okay";
    dr_mode = "host";
    usb-phy = <&usb_phy0>;
};

